# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configuração do VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log